# Conditional Statements

In [ ]:
X=10   #Example 1
Y=12
if X<Y:
    print('X is less than Y')
elif X>Y:
    print('X is greater than Y')
else:
    print('X and Y are equal')

In [ ]:
x=9
r=x%2
if r==0:
    print('x is Even number')
elif r==1:
    print('x is odd number')

# Loops
## While

In [ ]:
count=0
while count<=10:
    print(count)
    count=count+1
else: 
    print("Completed")

In [ ]:
N=int(input("Factorial of: "))
fact=1
while N:
    fact=fact*N
    N=N-1
print(fact)

# For

In [ ]:
x=[2,'Rahul','Banana','Apple','Grapes']
for i in x:
    print(i)

In [ ]:
X="BITS PILANI"
for i in X:
    print(i)

# Nested loops
## Example 1

In [ ]:
for j in range(5):
    print('*',end="")

In [ ]:
for j in range(5):
    print('*',end="")
print()
for j in range(5):
    print('*',end="")

In [ ]:
for i in range(5):
    for j in range(5):
        print('*',end="")
    print()

In [ ]:
for i in range(5):
    print('*'*(5))

## Example 2

In [ ]:
for i in range(5):
    print('*'*(i+1))

# Example 3

In [ ]:
for i in range(5):
    print('*'*(5-i))

In [ ]:
n=int(input("Number of rows: "))
print()
for i in range(n):
    print('*'*(n-i))

# Example 4

In [ ]:
for i in range(5):
    print(' '*(4-i)+'*'*(2*i+1))

# Loop Control Statements
## Break

In [ ]:
av=4   ##chocolate vending machine
x=int(input("How many you want: "))
i=1
while i<=x:
    if i>av:
        print('**** out of stock **** |SORRY|')
        break      
    print("chocolate")
    i+=1
print("Have a Good day")

# Continue

In [ ]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

# Pass

In [ ]:
for i in range(1,11):
    if i==5:
        pass   #null operation, required when statement is required syntactically
    print(i)

# Matrix Multiplication using for loop

In [ ]:
X=[[5,3],[4,8]]
Y=[[1,0],  [2,1]]
result=[[0,0],
       [0,0]]
#iterating through ‘x’ rows
for i in range(len(X)):
   #iterating through ‘y’ columns
   for j in range(len(Y[0])):
       #iterating through ‘y’ rows
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]
for r in result:
    print(r)

# Numpy

In [ ]:
# Defining a numpy array
import numpy as np 
a = np.array([1, 2, 3])
print(a)
type(a)

In [ ]:
x=[1,2,3]
print(type(x))
y=np.asarray(x)
print(type(y))

In [ ]:
arr = np.arange(10, 100,2) # Returs an array of numbers from x to y excluding y
print(arr)

In [ ]:
x=np.zeros(5)
print(x)

In [ ]:
arr = np.zeros((5,5))
print(arr)

In [ ]:
x=np.zeros([5,5],int) # Creates an array of zeros with specified shape
print(x)

In [ ]:
vector = np.linspace( 0, 20, 10 ) # Returns numbers(float values) after every 5 numbers from 0 to 25
print(vector)

In [ ]:
arr=np.zeros(8)
arr3d=arr.reshape((2,2,2)) # Reshapes the array into specified dimension
print(arr3d)

In [ ]:
arr1=np.arange(10)
print(arr[2:])

In [ ]:
arr2=np.arange(20)
print(arr[:15])

# Numpy Math operations

In [ ]:
arr=np.arange(11)
arr

In [ ]:
add=arr+5
add

In [ ]:
sub=arr-2
sub

In [ ]:
arr1=np.arange(5)
arr2=(np.linspace(0,100,5)).astype(int)
print(arr1)
print(arr2)

In [ ]:
matadd=arr1+arr2
matadd

In [ ]:
print(np.sin(arr1))
print(np.sqrt(arr1))
print(np.sum(arr1))
print(np.max(arr1))
print(np.min(arr1))

In [ ]:
import numpy as np
X=np.array([[5,3],[4,8]])
Y=np.array([[1,0],[2,1]])

In [ ]:
X*Y

In [ ]:
X.dot(Y)

# PANDAS

In [ ]:
import pandas as pd

In [ ]:
demo = pd.DataFrame({'Age':[10,12,15,18,23,32,29,27],
             'Salary':[1000,1500,1200,2300,2500,3200,2900,3100],
                    'Defaulter':[1,0,1,0,0,1,0,0],
              'Gender':['Male','Female','Male','Female','Male','Male',
                       'Male','Female']})
demo

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
### This visualization is using matplotlib
plt.figure(figsize=(4,4))
plt.scatter(demo['Age'],demo['Salary']) #,c = demo['Defaulter']
# plt.plottype(X col as a series,Y column as a series)
plt.xlabel("Age")
plt.ylabel("Salary")
plt.title("Scatter plot between age and salary")

In [ ]:
plt.hist(demo['Salary'])

In [ ]:
# Mean Salary of Male, Female , Trans
demo_gb = demo.groupby(['Gender']).agg({'Salary':np.mean}).reset_index()
demo_gb

In [ ]:
sns.barplot(x = 'Gender',y = 'Salary',data = demo_gb)

In [ ]:
demo1 = pd.DataFrame({'State':['K','M','D','W'],
                     'Corona':[700,1700,400,300]})
demo1

In [ ]:
plt.bar(demo1['State'],demo1['Corona'])

In [ ]:
car_data = pd.read_csv('Automobile_data.csv', delimiter=',')
manufacturer = car_data['make'].value_counts()
manufacturer.plot.pie(figsize=(10,15))
plt.show()

In [ ]:
#Relationship	Two Continuous variables	Scatter Plot
#Distribution 	A continuous variable	Histogram
#Comparison	A categorical variable and numerical variable	Barplot
#Comparison	a continuous variable over time	Linechart